/* Grid container with header and sidebar */
.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    grid-column: 1 / 2;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

/* Main content container */
.main-container {
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

/* Header styling */
header {
    grid-column: 1 / -1;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

/* Content styling */
.contenu {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Title styling */
h2.text-center {
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
}

/* Search and Add button styling */
.recherche-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-panel .btn-success {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.search-panel .btn-success i {
    margin-right: 5px;
}

.search-panel .recherche input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.search-panel .recherche input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #34495e;
    color: white;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #34495e; /* Dark blue text */
    text-align: left;
}

table tbody tr:hover {
    background-color: #ddd;
}

/* Action buttons styling */
button.delete,
button.edite {
    background-color: #3ca3e7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button.edite {
    background-color: #db3434;
}

button.delete a,
button.edite a {
    color: white;
    text-decoration: none;
}

/* Button hover effects */
button.delete:hover,
button.edite:hover,
.search-panel .btn-success:hover {
    opacity: 0.8;
}

/* Styling for the search container */
.recherche {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.recherche input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.recherche input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
